<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Metalware</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.2.min.js' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Metalware</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Hunter', :hunter, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Cluster', :root, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <% if @title %>
      <div class="jumbotron">
        <div class="container-fluid">
          <div class="row">
            <div class="col"></div>
            <div class="col-6">
              <h1 class="display-4"><%= @title %></h1>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="container-fluid page-container">
      <%= render 'partials/flash_alert', flash_key: :error, alert_class: 'alert-danger' %>
      <%= render 'partials/flash_alert', flash_key: :success, alert_class: 'alert-success' %>
      <%= render 'partials/flash_alert', flash_key: :notice, alert_class: 'alert-info' %>

      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <%= yield %>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">© Alces Software Ltd 2017</span>
      </div>
    </footer>
  </body>
</html>
