<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Metalware</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to 'Hunter', :hunter %>
      <%= link_to 'Cluster', :root %>
    </div>
      <% if flash[:error] %>
        <div>
          <%= flash[:error] %>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>
