
<%= form_tag do %>
  <% @questions.each do |question| %>

    <% namespaced_identifier = "answers[#{question.identifier}]" %>
    <% current_answer = @entered_answers ? @entered_answers[question.identifier] : question.old_answer %>

    <div class='form-group'>
      <%= label_tag(namespaced_identifier, question.question) %>
      <% case question.type
         when :boolean %>
         <% enabled = if !current_answer.nil?
                        # Use the entered answer (from previous form
                        # submission) or saved old answer, if one of these
                        # exists.
                        current_answer
                      elsif !question.default.nil?
                        # Fall back to the higher level entered answer, or
                        # `configure.yaml`-defined default, if either of these
                        # set.
                        question.default
                      else
                        # Otherwise default boolean questions to be enabled.
                        true
                      end
                    %>

       <div class='form-check'>
         <%= label_tag("#{namespaced_identifier}_true", 'Yes', class: 'form-check-label') %>
         <%= radio_button_tag(namespaced_identifier, 'true', checked=enabled) %>
         <%= label_tag("#{namespaced_identifier}_false", 'No', class: 'form-check-label') %>
         <%= radio_button_tag(namespaced_identifier, 'false', checked=!enabled) %>
       </div>

      <% else %>

        <% if question.answer_required? %>
          <span class="badge badge-info">Required</span>
        <% end %>
        <%= text_field_tag(
          namespaced_identifier,
          current_answer,
          class: ['form-control', 'form-control-sm'],
          placeholder: question.default,
          required: question.answer_required?
        ) %>

      <% end %>

    </div>
  <% end %>

  <%= submit_tag('Configure', class: ['btn', 'btn-dark', 'btn-block']) %>
<% end %>
