
<%= form_tag(groups_start_configure_path, method: 'get') do %>
  <div class='form-group'>
    <div class='form-row'>
      <div class='col'>
        <%= link_to 'Configure domain',
          domain_configure_path,
          class: ['btn', 'btn-dark', 'btn-block'],
          role: 'button'
        %>
      </div>
    </div>
  </div>

  <div class='form-group'>
    <div class='form-row'>
      <div class='col'>
        <%= submit_tag('Configure new group', class: ['btn', 'btn-dark', 'btn-block']) %>
      </div>
      <div class='col'>
        <%= text_field_tag(
          :group_name,
          nil,
          required: true,
          placeholder: 'Group name',
          class: ['form-control']
        ) %>
      </div>
    </div>
  </div>
<% end %>

<% @groups.each do |group| %>

  <div class='card'>
    <div class='card-header'>
      <ul class="nav">
        <li class="nav-item">
          <span class="navbar-brand"><%= group.name %></span>
        </li>
        <li class="nav-item">
          <%= link_to 'Configure',
            group_configure_path(group.name),
            class: ['nav-link', 'btn', 'btn-dark'],
            role: 'button'
          %>
        </li>
        <li class="nav-item">
          <%= link_to 'Build',
            group_build_path(group.name),
            class: ['nav-link', 'btn', 'btn-dark'],
            role: 'button'
          %>
        </li>
      </ul>
    </div>

    <div class='card-body'>
      <table class='table'>
        <thead>
          <tr>
            <th>Node</th>
            <th>Groups</th>
            <th colspan='3'>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% group.nodes.each do |node| %>
            <tr>
              <th><%= node.name %></th>
              <td><%= node.groups.join(',') %></td>
              <td>
                <%= link_to 'Configure',
                  node_configure_path(node.name),
                  class: ['btn', 'btn-dark', 'btn-block'],
                  role: 'button'
                %>
              </td>
              <td>
                <%= link_to 'Build',
                  node_build_path(node.name),
                  class: ['btn', 'btn-dark', 'btn-block'],
                  role: 'button'
                %>
              </td>
              <td>
                <%= button_to 'Power reset',
                  node_power_reset_path(node.name),
                  class: ['btn', 'btn-dark', 'btn-block']
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end %>
