
<div>
  <%= link_to 'Configure domain', 'configure/domain' %>
</div>
<div>
  <button>Configure new group</button>
</div>

<% @groups.each do |group| %>
  <h2>
    <%= group.name %>
    <%= link_to 'Configure', "configure/groups/#{group.name}" %>
    <button>Build</button>
  </h2>

  <table>
    <% group.nodes.each do |node| %>
      <tr>
        <th><%= node.name %></th>
        <td><%= node.groups.join(',') %></td>
        <td><button>Configure</button></td>
        <td><button>Build</button></td>
        <td><button>Power reset</button></td>
      </tr>
    <% end %>
  </table>
<% end %>
