
<div>
  <%= link_to 'Configure domain', domain_configure_path %>
</div>
<div>
  <%= form_tag(groups_start_configure_path, method: 'get') do %>
    <%= submit_tag('Configure new group') %>
    <%= text_field_tag(:group_name, nil, required: true) %>
  <% end %>
</div>

<% @groups.each do |group| %>
  <h2>
    <%= group.name %>
    <%= link_to 'Configure', group_configure_path(group.name) %>
    <%= link_to 'Build', group_build_path(group.name) %>
  </h2>

  <table>
    <% group.nodes.each do |node| %>
      <tr>
        <th><%= node.name %></th>
        <td><%= node.groups.join(',') %></td>
        <td>
          <%= link_to 'Configure', node_configure_path(node.name) %>
        </td>
        <td>
          <%= link_to 'Build', node_build_path(node.name) %>
        </td>
        <td><button>Power reset</button></td>
      </tr>
    <% end %>
  </table>
<% end %>
