
<% if @currently_hunting %>
  <%= form_tag(hunter_path, method: :delete) do %>
    <% submit_tag(
      'Stop hunting',
      class: ['btn', 'btn-dark', 'btn-block'],
      data: {
        confirm: <<-EOF.strip_heredoc
        Any unrecorded MAC addresses will be forgotten.

        Are you sure you want to stop hunting?
        EOF
      }
    ) %>
  <% end %>

  <table class='table detected-nodes-table'>
    <thead>
      <tr>
        <th>Detected MAC address</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @new_detected_macs.each_with_index do |mac, index| %>
        <tr>
          <td><code><%= mac %></code></td>
          <td>
            <% form_id = "record-node-form-#{index}" %>
            <%= form_tag(record_node_hunter_path, method: :post, id: form_id) do %>
              <%= hidden_field_tag(:mac_address, mac) %>
              <%= text_field_tag(:node_name, nil, required: true, class: ['form-control']) %>
            <% end %>
          </td>
          <td>
            <%= submit_tag('Record', form: form_id, class: ['btn', 'btn-dark']) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <%= form_tag(start_hunter_path) do %>
    <% submit_tag("Hunt!", class: ['btn', 'btn-dark', 'btn-block']) %>
  <% end %>
<% end %>
